*{
    padding: 0;
    margin: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 1000;
}

body{
    overflow-x: hidden;
}

button:hover{
    cursor: pointer;
}


#divHeader{
    display: flex;
    width: 100%;
    height: 10vh;
    justify-content: center;
    align-items: center;
    gap: 25%;
    background-color: transparent;
    position: fixed;
    color: white;
    transition: 1s;
    z-index: 3;
}

.dropdownAll{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.dropdownAll:hover{
    border-bottom: 5px solid rgb(0, 20, 45);
    
}

.dropdownVeiculos{
    display: none;
    position: absolute;
    top: 10vh;
    background-color: white;
    height: 450px;
    gap: 5vh;
    border: 5px solid white;
    border-radius: 5px;
    box-shadow: 1px 1px 10px rgb(0, 0, 0,0.3);
}

#dropdownBotoes{
    padding: 10px;
    display: flex; 
    justify-content: start;
    flex-direction: column;
    background-color: white;
    gap: 5vh;
    
}

.botoesVeiculos{
    border: 0px;
    font-size: large;
    border-bottom: 2px solid gray;
    width: 200px;
    background-color: transparent;
    color: gray;
}

.imgVeiculos{
    width: 300px;
    border-radius: 10px;

}

.imgVeiculos:hover{
    opacity: 0.7;
    
}

.botoesVeiculos:hover{
    border: 0px;
    border-bottom: 3px solid rgb(148, 96, 193);
    color: rgb(148, 96, 193) ;
}

.divVeiculos{
    display: none;
    width: 90vh;
    background-color: white;
    justify-content: left;
    flex-wrap: wrap;
    gap: 10px;
}

.botoesVeiculos:focus{
    border: 0px;
    border-bottom: 3px solid rgb(148, 96, 193);
    color: rgb(148, 96, 193) ;
}

.divCadaItem{
    height: min-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.dropdownSuporteServicos{
    display: none;
    position: absolute;
    top: 10vh;
    background-color: white;
    height: 170px;
    width: 200px;
    gap: 5vh;
    border: 5px solid white;
    border-radius: 5px;
    box-shadow: 1px 1px 10px rgb(0, 0, 0,0.3);
}

#dropdownBotoesSuporteServicos{
    padding: 10px;
    display: flex; 
    justify-content: start;
    flex-direction: column;
    background-color: white;
    gap: 5vh;
}

.dropdownLoginAll{
    display: none;
    position: absolute;
    top: 91px;
    right: 55px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgb(0, 0, 0,0.3);
    animation: dropdownAnim 1s;
}

#dropdownBotoesLogin{
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.botoesLogin{
    border: 0px;
    font-size: large;
    border-bottom: 2px solid gray;
    width: 100%;
    background-color: transparent;
    color: gray;
    justify-content: center;
}

.botoesLogin:hover{
    border: 0px;
    color: rgb(148, 96, 193) ;
    border-bottom: 3px solid rgb(148, 96, 193);
}

.botoesSuporteServicos{
    border: 0px;
    font-size: large;
    border-bottom: 2px solid gray;
    width: 180px;
    background-color: transparent;
    color: gray;
}


.botoesSuporteServicos:hover{
    border: 0px;
    border-bottom: 3px solid rgb(148, 96, 193);
    color: rgb(148, 96, 193) ;
}

#divHeader:hover{
    background-color: white;
    color: rgb(0, 20, 45);
   
}

#divHeader:hover .botoesHeader{
    color: rgb(0, 20, 45);
   
}

#navHeader{
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-left: 10px;
    height: 100%;
    width: 100%;
}

#navLogin{
    display: flex;
    gap: 20px;
    padding-left: 10px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

#divLogo{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botoesHeader{
    color: white;
    background-color: transparent;
    height: 100px;
    border: 0px;
    font-size: large;

}

#fordLogo{
    height: 100px;
    width: 200px;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(345deg) brightness(103%) contrast(101%);
}

#fordLogo:hover{
    cursor: pointer;
}

#fordLogoFooter{
    width: 100px;
    filter: invert(11%) sepia(10%) saturate(5051%) hue-rotate(175deg) brightness(92%) contrast(108%);
}

#divHeader:hover #fordLogo{
    filter: invert(11%) sepia(10%) saturate(5051%) hue-rotate(175deg) brightness(92%) contrast(108%);
}

#divPrincipal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
}



#divSlider{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}



#imgSlider{
    width: 100%;
    height: 100vh;
}

#divSlider:hover .botoesSlider{
    display: flex;
}

.botoesSlider{
    position:absolute;
    display: none;
    z-index: 2;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    background-color: white;
    color: #00142d;
    font-size: xx-large;
    border: 0;
}

.botoesSlider:hover{
    opacity: 0.8;
}

#botaoAnterior{
    left: 10px;
}

#botaoProximo{
    right: 10px;
}



#divCategorias{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    
}

.botoesCategorias{
    width: 200px;
    font-size: larger;
    border: 0px;
    background-color: transparent;
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
}

#navCategorias{
    display: flex;
    gap: 15px;
}

.botoesCategorias:hover{
    border-bottom: 3px solid rgb(148, 96, 193);
    color: rgb(148, 96, 193) ;
}

#divImgCategoria{
    width: 100%;
    height: 500px;
}

#imgCategoria{
    width: 1055px;
    height: 100%;
    border-radius: 10px;
    animation: appear ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 40%;
}

@keyframes appear {
    from {
        opacity: 0;
        scale: 0;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}

#nomeCategorias{
    font-size: larger;
}

#divServicos{
    background-color: rgb(0, 20, 45);
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
    font-size: larger;
    
}

#divServicos img{
    width: 100%;

}

#divCategoriasServicos{
    display: flex;
    flex-direction:row;
    gap: 70px;
    animation: appear ease-in-out;
    animation-timeline: view();
    animation-range: cover 0% cover 40%;
}

#divCategoriasServicos img{
    width: 60vh;
    height: 50vh;
    border-radius: 10px;

}

#divAssistencia{
    display: flex;
    flex-direction: column;
    width: 60vh;
    gap: 20px;
}

#divFipe{
    display: flex;
    flex-direction: column;
    width: 60vh;
    height: 100vh;
    gap: 20px;
}

.botoesServicos{
    width: 200px;
    height: 50px;
    font-size: larger;
    border-radius: 70px;
    background-color: rgb(148, 96, 193);
    color: white;
    border: 0px;
    transition: 400ms;
}

.botoesServicos:hover{
    cursor: pointer;
    background-color: rgb(108, 70, 141);
}

#divFooter{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 120vh;
    padding: 50px;
}

#navRedesSociais{
    display: flex;
    gap: 20px;
}

a{
    font-size: 30px;
}

#redesSociais{
   color:rgb(0, 20, 45); 
}



#mensagemContainer{
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 10px black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 100%;
    overflow: auto;
    display: flex;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
    flex-direction: column;
    gap: 10px;
}

.chatSuporte{
    border-radius: 10px;
    display: none;
    flex-direction: column;
    position: fixed;
    right: 10px;
    bottom: 110px;
    width: 400px;
    height: 400px;
    background-color: transparent;
}

#envioContainer{
    width: 100%;
    height: 50px;
    background-color: #00142d;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    box-shadow: 1px 1px 10px rgb(0, 0, 0,0.6);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#mensagemInput{
    height: 30px;
    width: 300px;
    font-size: larger;
    border: 1px solid white;
    background-color: rgb(108, 70, 141);
    border-radius: 100px;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}

#mensagemInput::placeholder{
  color: rgb(174, 171, 171);
}

#botaoEnviar{
    height: 30px;
    width: 80px;
    background-color: rgb(108, 70, 141);
    border: 1px solid white;
    border-radius: 100px;
    color: white;
}

#botaoIngressar{
    position: absolute;
    left: 35%;
    top: 40%;
    padding: 10px;
    background-color: rgb(108, 70, 141);
    color: white;
    border: 1px solid;
    box-shadow: 1px 1px 10px rgb(0, 0, 0,0.3);
}

#divChat{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100px;
    right: 0;
    bottom: 0;
    border-radius: 100px;
    background-color: transparent;
}



#botaoChat{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 80px;
    border-radius: 100px;
    background-color:rgb(0, 20, 45);
    border: 1px solid;
    box-shadow: 1px 1px 10px rgb(0, 0, 0, 0.5);
}

#botaoChat:hover{
    cursor: pointer;
    opacity: 0.9;
}

#chatImg{
    filter: brightness(0) saturate(100%) invert(100%) sepia(7%) saturate(7445%) hue-rotate(187deg) brightness(94%) contrast(108%);
}



#messageElement{
    position: relative;
    background-color: rgb(45, 84, 13);
    color: rgb(255, 255, 255);
    width: max-content;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 1px 1px 10px rgb(0, 0, 0,0.5);
    max-width: 300px;
}

#messageSelfElement{
    position: relative;
    background-color: rgb(108, 70, 141);
    color: rgb(255, 255, 255);
    width: max-content;
    max-width: 300px;
    border-radius: 10px;
    padding: 10px;
    margin-left: auto;
    box-shadow: 1px 1px 10px rgb(0, 0, 0,0.5);
}

#messageConnectedElement{
    position: relative;
    background-color: rgb(60, 255, 0);
    width: max-content;
    max-width: 300px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 1px 1px 10px rgb(0, 0, 0,0.5);
    text-transform: uppercase;
}

#messageDisconnectedElement{
    position: relative;
    background-color: rgb(255, 0, 0);
    width: max-content;
    max-width: 300px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 1px 1px 10px rgb(0, 0, 0,0.5);
    color: white;
    text-transform: uppercase;
}

.ativado{
    display: flex;
}

#redesFeedback{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#divFeedback button{
    background-color: transparent;
    border: 0px;
    font-size: 20px;
}

#divFeedback button:hover{
    text-decoration: underline;
}

#modalFeedback{
    position: fixed;
    display: none;
    z-index: 3;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgb(0, 0, 0,0.7);
    backdrop-filter: blur(10px);
    justify-content: center;
    align-items: center;
}

#modalAlerta{
    position: fixed;
    display: none;
    z-index: 3;
    width: 400px;
    height: 200px;
    right: 20px;
    bottom: 20px;
    background-color: rgba(255, 0, 0);
    color: white;
    backdrop-filter: blur(10px);
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

#alertaNome{
    position: fixed;
    display: none;
    z-index: 3;
    width: 400px;
    height: 200px;
    right: 20px;
    top: 20px;
    background-color: rgba(255, 0, 0);
    color: white;
    backdrop-filter: blur(10px);
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
@keyframes alertaAnim {
    from{
        scale: 0;
    }
    to{
        scale: 1;
    }
}
#modalConteudoFeedback{
    width: 700px;
    height: 800px;
    border-radius: 50px;
    box-shadow: 1px 1px 10px rgb(0, 0, 0,0.6);
    background-color: #00142d;
    display: flex;
    flex-direction: column;
    color: white;
}

#fecharModalFeedback{
    position: fixed;
    right: 10px;
    top: 10px;
    font-size: 50px;
    background-color:#00142d;
    width: 60px;
    height: 60px;
    border: 0px;
    border-radius: 200px;
    color: rgb(255, 255, 255);
    box-shadow:  1px 1px 10px rgb(0, 0, 0,0.3);
}

#fordLogoModal{
    height: 150px;
    width: 700px;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(345deg) brightness(103%) contrast(101%);
}

#feedbackContainer{
    display: flex;
    flex-direction: column;
   align-items: center;
    gap: 60px;
}

#feedbackContainer select{
    width: 300px;
    height: 50px;
    border-radius: 10px;
    
}

#feedbackContainer textarea{
    width: 500px;
    height: 200px;
    border-radius: 10px;
    padding: 10px;
    font-size: large;
    text-transform: capitalize;
}

#botaoEnviarFeedback{
    height: 50px;
    width: 150px;
    font-size: larger;
    background-color: rgb(108, 70, 141);
    border: 1px solid white;
    border-radius: 100px;
    color: white;
}

#botaoEnviarFeedback:disabled{
    opacity: 0.7;
    background-color: gray;
}