#divFooter{
    display: flex;
    position:static;
    bottom: 0;
    height: 100px;
    width: 100%;
    z-index: 4;
    justify-content: center;
    align-items: center;
    gap: 70vh;
    padding: 50px;
    background-color: white;
    box-shadow: 1px 1px 10px black;
}

#navRedesSociais{
    display: flex;
    gap: 20px;
}

a{
    font-size: 30px;
}

#redesSociais{
   color:rgb(0, 20, 45); 
}