*{
    margin: 0;
    padding: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 1000;
}

#imgSlider{
    width: 100%;
    height: 950px;
}

#divSlider{
    position: relative;
}

#divBotoesSlider{
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 50px;
    left: 45%;
    gap: 20px;
}

#posicaoImg{
    color: white;
    text-shadow: 1px 1px 10px black;
}

#localizar{
    color: white;

}

#divLocalizarConcessionaria{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border: 1px solid;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    bottom: 70px;
    left: 10px;
}

.botoesSlider{
    width: 50px;
    height: 100px;
    font-size: 30px;
    background-color: white;
    color: rgb(0, 20, 45);
    border: 0px solid;
    border-radius: 10px;
    box-shadow: 1px 1px 10px black;
}

.botoesSlider:hover{
    opacity: 0.7;
    cursor: pointer;
}

#infoSlider{
    position: absolute;
    bottom: 50px;
    right: 0;
    color: white;
    font-size: 20px;
    padding: 10px;
    text-shadow: 1px 1px 10px rgba(0, 0, 0);
}

#divHeader{
    display: flex;
    width: 100%;
    height: 10vh;
    justify-content: center;
    align-items: center;
    gap: 25%;
    background-color: transparent;
    position: fixed;
    color: white;
    transition: 1s;
    z-index: 3;
}

.dropdownAll{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.dropdownAll:hover{
    border-bottom: 5px solid rgb(0, 20, 45);
    
}

.dropdownVeiculos{
    display: none;
    position: absolute;
    top: 10vh;
    background-color: white;
    height: 500px;
    gap: 5vh;
    border: 5px solid white;
    border-radius: 5px;
    box-shadow: 1px 1px 10px rgb(0, 0, 0,0.3);
}

#dropdownBotoes{
    padding: 10px;
    display: flex; 
    justify-content: start;
    flex-direction: column;
    background-color: white;
    gap: 5vh;
    
}

.botoesVeiculos{
    border: 0px;
    font-size: large;
    border-bottom: 2px solid gray;
    width: 200px;
    background-color: transparent;
    color: gray;
}

.imgVeiculos{
    width: 300px;
    border-radius: 10px;
}

.botoesVeiculos:hover{
    border: 0px;
    border-bottom: 3px solid rgb(148, 96, 193);
    color: rgb(148, 96, 193) ;
}

.botoesVeiculos:focus{
    border: 0px;
    border-bottom: 3px solid rgb(148, 96, 193);
    color: rgb(148, 96, 193);
}

.divVeiculos{
    display: none;
    width: 90vh;
    background-color: white;
    justify-content: left;
    flex-wrap: wrap;
    gap: 10px;
}


.divCadaItem{
    height: min-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.dropdownSuporteServicos{
    display: none;
    position: absolute;
    top: 10vh;
    background-color: white;
    height: 200px;
    gap: 5vh;
    border: 5px solid white;
    border-radius: 5px;
    box-shadow: 1px 1px 10px rgb(0, 0, 0,0.3);
}

#dropdownBotoesSuporteServicos{
    padding: 10px;
    display: flex; 
    justify-content: start;
    flex-direction: column;
    background-color: white;
    gap: 5vh;
}

.dropdownLoginAll{
    display: none;
    position: absolute;
    top: 91px;
    right: 55px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgb(0, 0, 0,0.3);
}

#dropdownBotoesLogin{
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.botoesLogin{
    border: 0px;
    font-size: large;
    border-bottom: 2px solid gray;
    width: 100%;
    background-color: transparent;
    color: gray;
}

.botoesLogin:hover{
    border: 0px;
    color: rgb(148, 96, 193) ;
    border-bottom: 3px solid rgb(148, 96, 193);
}

.botoesSuporteServicos{
    border: 0px;
    font-size: large;
    border-bottom: 2px solid gray;
    width: 100%;
    background-color: transparent;
    color: gray;
}


.botoesSuporteServicos:hover{
    border: 0px;
    border-bottom: 3px solid rgb(148, 96, 193);
    color: rgb(148, 96, 193) ;
}

#divHeader:hover{
    background-color: white;
    color: rgb(0, 20, 45);
   
}

#divHeader:hover .botoesHeader{
    color: rgb(0, 20, 45);
   
}

#navHeader{
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-left: 10px;
    height: 100%;
    width: 100%;
}

#navLogin{
    display: flex;
    gap: 20px;
    padding-left: 10px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

#divLogo{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botoesHeader{
    color: white;
    background-color: transparent;
    height: 100px;
    border: 0px;
    font-size: large;

}

#fordLogo{
    height: 100px;
    width: 200px;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(345deg) brightness(103%) contrast(101%);
}

#fordLogo:hover{
    cursor: pointer;
}

#fordLogoFooter{
    width: 100px;
    filter: invert(11%) sepia(10%) saturate(5051%) hue-rotate(175deg) brightness(92%) contrast(108%);
}

#divHeader:hover #fordLogo{
    filter: invert(11%) sepia(10%) saturate(5051%) hue-rotate(175deg) brightness(92%) contrast(108%);
}

.ativado{
    display: flex;
}